html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	width: 100%;
	height: auto;
}
body {
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	padding: 60px 172px;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	font-size: 16px;
	font-weight: 400;
}
/*@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../fonts/webhostinghub-glyphs.eot');
    src: url('../fonts/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}
[class^="icon-"], [class*=" icon-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal}
.icon-chevron-down:before{content:'\f48b'}
/*.icon-chevron-left:before{content:'\f489'}
.icon-chevron-right:before{content:'\f488'}*/
/*.icon-chevron-up:before{content:'\f48a'}
.icon-chevrons:before{content:'\f0b5'}
*/

section,
header,
footer {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}
ul {
	margin: 0;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	margin: 0;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 1px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 71px;
	font-weight: 700;
	color: #fff;
	margin: 0 auto;
	line-height: 1.1;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 51px;
	font-weight: 700;
	margin: 0 auto;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
	margin: 0 auto;
}
button {
	cursor: pointer;
	font-weight: 400;
	text-align: left;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	color: #fff;
}
button:active,
button:focus {
	outline: none;
}
label {
	cursor: pointer;
	font-size: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
	font-size: 17px;
	font-weight: 400;
}
ul li a:hover{
	color: #977E53;
	border-bottom: 2px solid #EAD3A9;
}
span {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	margin: 0;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1px;
}
.log-men {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: 120px;
}
.menu {
	display: flex;
	width: 70%;
	align-items: center;
	padding: 0 0 0 30px;
}
.logo {
	width: 20%;
	display: flex;
}
nav .up-menu {
	flex: 3;
	display: flex;
	flex-direction: row-reverse;
}
ul .menu-item {
	display: flex;
	position: relative;
	list-style: none;
}
ul .item {
	list-style-type: none;
	display: inline;
	padding: 0 10px;
	margin: 0px 8px;
	line-height: 1.3;
}
.info {
	display: block;
	width: 30%;
	text-align: center;
	background-color: #F9F5E9;
	background-size: cover;
}
.info .phone span {
	font-size: 18px;
	font-weight: 700;
}
.order-link {
	color: #A48E65;
	line-height: 2;
}
.work-day {
	padding: 10px 0 0;
	color: #B7B7B7;
	line-height: 1.5;
}
main .background {
	background: url('images/header.jpg') no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%;  /*Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%;  /* Современные браузеры */
	width: 100vw;
	height: 100%;
	margin-left: -172px;
	box-sizing: border-box;
	overflow: hidden;
}
main .left-block {
	width: 40%;
	color: #fff;
	margin-left: 172px;
	box-sizing: border-box;
}
.h-text {
	padding: 172px 0 0;
}
.text {
	width: 82%;
	margin: 40px 0;
	font-size: 17px;
	line-height: 1.7;
}
.wrap {
	display: flex;
	align-items: center;
	width: 90%;
}
.item-block {
	display: flex;
	align-items: center;
	width: 30%;
	margin: 20px 0;
}
.tick {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

.tick::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
	background-color: #C8A969;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.tick::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #C8A969;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
span .txt {
	margin: 0 20px 30px 0;
}
.btn {
	background-color: #C8A969;
	margin: 40px 0;
	display: flex;
	justify-content: center;
	border: 1px solid #C8A969;
	width: 328px;
	height: 64px;
}
span .name {
	padding: 24px;
}

.arrow {
	display: flex;
	margin: 70px 0;
}
.button {
  background: none;
}
.button:hover{
   opacity: 0.6;
}
.button-prev,
.button-next {
  width: 40px;
  height: 40px;
  font-size: 10px;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid #C8A969;
  box-sizing: border-box;
}
.button-next {
	margin-left: 30px;
}
.button-prev,
.button-next {
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 10px 15px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23C8A969'%2F%3E%3C%2Fsvg%3E");
 /* left: 10px;
  right: auto;*/
}
.button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23C8A969'%2F%3E%3C%2Fsvg%3E");
	margin-left: 30px;
}

.why {
	width: 100%;
	margin: 150px 0;
}
.why .wrapper {
	display: flex;
	justify-content: space-between;
	border: 1px solid #EAD3A9;
}
.block {
	display: flex;
	justify-content: center;
	width: 25%;
	padding: 50px 0;
}
.block-one,
.block-two,
.block-three,
.block-fourth {
	width: 100%;
	height: 100%;
	text-align: center;
}
.block img {
	text-align: center;
}
.h2name {
	margin: 20px 0 100px;
	color: #000;
}
.why.h4name {
	margin: 50px 0;
	color: #8F7445;
}
.block:hover {
	position: relative;
	transform: scale(0, 2);
	transform: translate(0, 50px);
    -webkit-transform: translate(0, 50px); /** Chrome & Safari **/
    -o-transform: translate(0, 50px); /** Opera **/
    -moz-transform: translate(0, 50px); /** Firefox **/
	transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
	font-weight: 700;
	-webkit-box-shadow: 2px 1px 29px -5px rgba(0,0,0,1);
	-moz-box-shadow: 2px 1px 29px -5px rgba(0,0,0,1);
	box-shadow: 2px 1px 29px -5px rgba(0,0,0,1);
	border-color: transparent;
}
.block:hover .h4name{
	color: #000;
}
.why2 {
	background: url('images/sec2.jpg') no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%;  /*Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: cover;  /* Современные браузеры */
	width: 100vw;
	height: 100% auto;
	margin-left: -172px;
	box-sizing: border-box;
	overflow: hidden;
}
.why2 .wrapper {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	align-items: center;
	height: 100%;
}
.h2why2 {
	display: flex;
	width: 300px;
	color: #fff;
	margin: 0 0 0 172px;
}
.text-block {
	width: 280px;
	color: #fff;
	margin: 420px 0 0 172px;
}
.start {
	display: block;
	background-color: transparent;
	border-color: transparent;
	color: #C7A969;
	margin-top: 30px;
}
.why2 .arrow {
	margin: 120px 0;
}
.trust {
	background: url('images/sec3.jpg') no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%;  /*Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: ;  /* Современные браузеры */
	width: 100vw;
	margin-left: -172px;
	box-sizing: border-box;
	overflow: hidden;
}
.trust .wrapper {
	box-sizing: border-box;
	width: 100%;
}
.trust .name {
	color: #000;
	margin: 172px 172px 472px;
}
.trust .text-block {
	position: absolute;
	bottom: -100px;
	left: -172px;
	background-color: #000;
	width: 30%;
	height: 250px;
	color: #fff;
	overflow-y: visible;
}
.trust .text-block p {
	margin-left: 172px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
	width: 60%;
}
.trust .h4name {
	font-size: 14px;
	padding: 40px 0;
	margin-left: 172px;
	color: #AEAEB0;
	width: 75%;
}
.h4arrow {
	display: flex;
	width: 100%;
}
.trust .text-block .h4arrow .arrow {
	position: static;
	display: flex;
	width: 25%;
	margin:  0;
	padding: 30px 0 0;
	height: 40px;
	background-color: transparent;
}
.trust .text-block .h4arrow .button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23C8A969'%2F%3E%3C%2Fsvg%3E");
	border-color: transparent;
}
.trust .text-block .h4arrow .button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23C8A969'%2F%3E%3C%2Fsvg%3E");
	margin-left: 30px;
	border-color: transparent;
}
.trust .text-block .h4arrow .button-next {
	margin-left: 0;
}

.trust .arrow {
	position: absolute;
	bottom: 0px;
	right: 0;
	background-color: #F9F5E9;
	width:  20%;
	padding: 50px 80px;
	margin: 0;
}
.trust .button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
 /* left: 10px;
  right: auto;*/
}
.trust .button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
	margin-left: 30px;
}
.trust .button:hover {
   border-color: #E2DED5;
}
.trust .button-prev:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23E2DED5'%2F%3E%3C%2Fsvg%3E");
 /* left: 10px;
  right: auto;*/
}
.trust .button-next:hover {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23E2DED5'%2F%3E%3C%2Fsvg%3E");
	margin-left: 30px;
}




.review {
	margin: 172px 0px 0 0;
	background-color: #F9F5E9;
  padding: 25px 0;
  width: 100%;
  color: #000;
  overflow: auto;
  box-sizing: border-box;
}
.review .wrapper .button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.review .wrapper .button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
	margin-left: 30px;
}
.review .wrapper .button:hover {
   border-color: #E2DED5;
}
.review .wrapper .button-prev:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23E2DED5'%2F%3E%3C%2Fsvg%3E");
}
.review .wrapper .button-next:hover {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23E2DED5'%2F%3E%3C%2Fsvg%3E");
	margin-left: 30px;
}

.review .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 -20px;
  box-sizing: border-box;
}
.review .slider {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.review .wrap {
  display: flex;
  margin: 0 3% 0 4% auto;
  box-sizing: border-box;
  padding: 5px 0 40px;
  z-index: 4;

}
.review .slider a {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.review .slider img {
  display: flex;

  padding: 0 20px;
  
 /* overflow: auto;*/
  box-sizing: border-box;
}
.review .slider a:hover {
	position: relative;
	transform: scale(0, 2);
	transform: translate(0, 50px);
    -webkit-transform: translate(0, 50px); /** Chrome & Safari **/
    -o-transform: translate(0, 50px); /** Opera **/
    -moz-transform: translate(0, 50px); /** Firefox **/
	transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
	font-weight: 700;
	-webkit-box-shadow: 2px 1px 29px -5px rgba(0,0,0,1);
	-moz-box-shadow: 2px 1px 29px -5px rgba(0,0,0,1);
	box-shadow: 2px 1px 29px -5px rgba(0,0,0,1);
	border-color: transparent;
}
.review ul li {
  width: 33.33%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.review ul li img {
  display: flex;
}
#wrap {
   overflow: hidden;
   height: 320px;
}